.top-navigation{
	background-color: orange;

}

.content{
	padding: 0.5rem;
	margin: 0 auto;
	min-width: 37.5rem;
	flex-direction: row;
	justify-content: space-between;
}

.links{
	padding: 0.5rem;
	margin: 0 auto;
	display: block;
}