
.body{
	-webkit-font-smoothing: antialiased;
	line-height: 1;
}

.top-navigation{
	margin-top: -0.8em;
	background-color: white;
	border-bottom: 1px solid #DDD;
}

.top-navigation > .content{
	height: 4.375rem;
	width: 60%;
	min-width: 37.5rem;
	margin: 0 auto;
	padding: 0 0.938rem;
}

.logo{
	height: 4.375rem;
	float: left;
}

.links{
	float: right;
	font-family: 'Roboto', sans-serif;
	color: #838994;
	font-size: 1.04rem;
	margin-top: 1.7rem;
}

.active{
	margin-left: 1.563rem;
	display: inline-block;
}

.activeB{
	margin-left: 1.563rem;
	display: inline-block;
	color: #4c5058;
	font-weight: 600;
}