
.body{
	-webkit-font-smoothing: antialiased;
}

.top-navigation,
.logo{
	height: 4.375rem;
	background-color: chocolate;
}

.logo{
	float: left;
}


.links{
	display: flex;
	flex-flow: row, nowrap;
	justify-content: space-around;
	font-family: 'Roboto', sans-serif;
}

.links > li{
	margin-top: 1.5rem;
}

.active{
	font-variant: bold;
}